{% extends 'base.html'%}
{% block head%}
<li class="nav-item ">
    <a class="nav-link" href="{{url_for('index')}}">Home<span class="badge badge-success">6</span></a>
</li>

<li class="nav-item ">
    <a class="nav-link" href="{{url_for('sizing')}}">Sizing of Apps <span class="badge badge-success">6</span></a>
</li>

<li class="nav-item ">
    <a class="nav-link" href="{{url_for('pricing')}}">Pricing of Apps<span class="badge badge-success">6</span></a>
</li>

<li class="nav-item ">
    <a class="nav-link" href="{{url_for('relations')}}">Some Relations <span class="badge badge-success">6</span></a>
</li>

<li class="nav-item ">
    <a class="nav-link active" href="{{url_for('review')}}">Reviews <span class="badge badge-success">6</span></a>
</li>

{% endblock %}
{% block body %}

<h2 class="pageheader-title">Reviews Analysis</h2>



<div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
    <div class="card">
        <h3 class="card-header">Sentiment Analysis</h3>
        <div class="card-body p-0">
            <div>


<img src="{{ url_for('static', filename = 'images/review_category.png' )}}"
alt="review_category"
                        />

            </div>
        </div>
    </div>
</div>


<div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
    <div class="card">
        <h3 class="card-header">Sentiment Polarity Distribution</h3>
        <div class="card-body p-0">
            <div">
        <img src="{{ url_for('static', filename = 'images/sentiment_polarity_distribution.png' )}}"
            alt="sentiment_polarity_distribution">
            </div>
        </div>
    </div>
</div>

</div>
{% endblock%}
